.body {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Numbers {
    font-size: x-large;
}

.Restart {
    height: 40px;
    width: 100px;
    background-color: rgb(216, 158, 87);
    cursor: pointer;
    border: none;
}

.SubButton {
    height: 40px;
    width: 100px;
    background-color: rgb(216, 158, 87);
    cursor: pointer;
    border: none;  
}

#fieldForInput {
 height: 40px;
 margin-left: 100px;
}